<nav class="nav">
  <svg class="svg" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="top" d="M0 0H500V100H0V0Z" fill="#110F0F"/>
    <path class="middle1" d="M0 205H500V305H0V205Z" fill="#110F0F"/>
    <path class="bottom" d="M0 400H500V500H0V400Z" fill="#110F0F"/>
    <path class="middle2" d="M0 206H500V306H0V206Z" fill="#110F0F"/>
  </svg>
  <a class="logo" href="/">
    <i class="fas fa-map-marked-alt"></i>
    <p>Tour Guides</p>
  </a>
  <ul class="menu">
    <li><a href='/'>Home</a></li>
    <li><a href='/gallery'>Gallery</a></li>
    <li><a href="">Location</a></li>
    <li><a href='/subscribe'>Subscribe</a></li>
    <li><a href='/team'>Team</a></li>
    <li><a href='/admin'>Admin</a></li>
  </ul>
</nav>