/* Heading */
.admin-main-wrapper h1 {
  text-align: center;
  font-size: 50px;

  color: rgb(231, 139, 53);
  font-family: 'Roboto Condensed', sans-serif;
}

/* Card gallery wrapper */
.subscribers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1600px;
  margin: 50px auto;
}

/* Individual cards */
.subscriber-card {
  display: flex;
  flex-direction: column;
  
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px;
  
  width: 450px;
  height: 150px;
}

/* Text within cards */
.subscriber-card p {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin: auto 15px;
}

/* Make the subscriber list pretty */
.subscriber-card p span {
  color: rgb(231, 139, 53);
  font-family: 'Roboto Condensed', sans-serif;
}