/* Make the gallery a grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 55vmin);

  margin: 0;
  grid-gap: 1rem;

  justify-content: center;
}

/* Make the cards a flexbox */
.card {
  display: flex;
  flex-direction: column;

  text-align: center;
}

/* Keeping aspect ratio of img and make it pretty */
.card img {
  object-fit: contain;
  align-self: center;

  width: 52vmin;
  height: auto;

  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  border-radius: 4px;
  cursor: pointer;
}

figcaption h2 {
  color: rgb(231, 139, 53);
  font-family: 'Roboto Condensed', sans-serif;
}

figcaption h2:hover {
  color: rgb(70, 70, 70);
}

.gallery a {
  /* remove underline */
  text-decoration: none;
}