/* Make gallery item a flexbox */
.gallery-item {
  display: flex;
}

/* Give item-card width/height and flexbox */
.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;

  width: 100vw;
  height: 70vh;

  margin-bottom: 10rem;
}

/* Make item-card h2 pretty */
.item-card h2 {
  color: rgb(231, 139, 53);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
}

/* Make img pretty */
.item-card img {
  /* Set height and width */
  width: 80vw;
  height: 70vh;
  /* Preserve aspect ratio */
  object-fit: cover;
 

  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  border-radius: 4px;
}

/* Hide the horizontal scrollbar */
body {
  overflow-x: hidden;
}

/* When in portrait */
@media (orientation: portrait) {
  .item-card {
    min-width: 90vw;
    min-height: 90vh;

    margin-bottom: 1rem;
  }

  .item-card img {
    /* Increase width a little on mobile/tablets */
    width: 85vw;
  }
}