/* Main-text wrapper into flexbox */
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto 5rem;
}

/* Make h1 header pretty */
.main-text h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
  color: rgb(231, 139, 53);
}

/* Make h2 header pretty */
.main-text h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  color: rgb(75, 75, 75);
}

/* Make p pretty */
.main-text p {
  max-width: 1200px;
  line-height: 2rem;
  margin: auto 2rem;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

/* When in portrait view */
@media (orientation: portrait) {
    /* Page long-form text */
    .main-text {
      /* Center in the x-axis and make a little space between top & bottom sections  */
      margin: 2rem auto;
    }
  
    .main-text p {
      line-height: 2.5rem;
      margin: 2rem 1rem;
    }
}