/* form style*/
fieldset {
  border: 1;
  border-radius: 1rem;
}

form {
  font-size: 20px;
  padding-left: 3ch;

  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  
  width: 50ch;

  text-align: center;
}

input {
  border: 1px solid black;
}

/* Form style */
legend {
  font-weight: bold;
  font-size: 28px;

  padding-bottom: 10px;
}



/* Textfields */
.text-fields p {
  display: flex;

  font-size: 22px;
  padding-top: 0.5rem;
  
  color: black;
}

.text-fields p label {
  width: 10ch;
}

.text-fields p input {
  flex: 1;

  max-width:30ch; 
  height: 2rem;
}

ul{
  list-style-type: none;
}


/* button */
.formfooter {
  text-align: center;
}

button {
  font-size: 16px;
  
  background-color:rgb(56, 56, 56);
  color: white;

  width: 100px;
  height: 40px;

  margin-top: 1rem;
  margin-bottom: 1rem; 

  border-radius: 1rem;
}


/* button behavior */
button:hover {
  background-color: rgb(255, 166, 0);
}

button:active { 
  background-color: grey;
}

/* Media Query */
@media (orientation: portrait) {
  .form {
    /* Make form span width of device at most */
    max-width: 100vw;
    padding: 0;
  }
}