/* Make the container a flexbox */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Give dimensions to the card-container */
.card-container {
  margin: 1em auto;
  min-width: 30ch;
  max-width: 40ch;

  border-radius: 5px;
  padding: 1em;
  
  display: flex;
  flex-direction: column;

  background-color: rgb(231, 139, 53);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

/* image width and padding */
img {
  width: 100%;
  padding-bottom: 1em;
}

/* style the profile header */
.profile h2 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}
  
/* style the profile p tag */
.profile p {
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size: 1.2rem;
}
  
/* icons style  */
.icons ul, .icons li, .icons a {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
  
  color: white;
	text-decoration: none;

	padding: 0.5em;
}

/* social media icon hover */
.icons a:hover {
  color: rgb(65, 65, 65);
}

.icons .fab {
	font-size: 2.5em;
} 