<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS links -->
  <link rel="stylesheet" href="/css/gallery-item.css">
  <link rel="stylesheet" href="/css/utilities.css">
  <!-- JS link -->
  <script type="module" src="/js/client.js"></script>
</head>
<body class=<%= current %>>
  <!-- Navigation -->
  <%- include('../partials/nav'); %>
  <main class="gallery-item">

  </main>
  
</body>
</html>