<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <!-- CSS links -->
  <link rel="stylesheet" href="/css/gallery-item.css">
  <link rel="stylesheet" href="/css/utilities.css">
  <!-- JS link -->
  <!-- <script type="module" src="js/gallery.js"></script> -->
</head>
<body>
  <main class="gallery-item">

  </main>
  <script type="text/javascript" src="/js/gallery-item.js"></script>
</body>
</html>