<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscribe</title>
  <link rel="stylesheet" href="css/subscribe.css">
  <link rel="stylesheet" href="css/utilities.css">

  <!-- JS link -->
  <script type="module" src="/js/client.js"></script>
</head>

<body class=<%= current %>>
  
  <!-- Navigation -->
  <%- include('../partials/nav'); %>
  
  <!-- Header -->
  <%- include('../partials/header'); %>
  
	<!-- Main -->
    <section class="wrapper style1">
      <form action="/subscribers" method="post" class="form">
        <fieldset>
          <legend>Newsletter Subscribe</legend>
            <p>
            <label for="name">Name: <abbr title="required" aria-label="required"><span class="required">*</span></abbr>
            </label>
            <input id="name" type="text" name="usersName" placeholder="What is your name?" required>
            </p>

            <p>
            <label for="email">Email:<abbr title="required" aria-label="required"><span class="required">*</span></abbr>
            </label> 
            <input type="email" id="email" name="email"  placeholder="Please enter an Email" required>
            </p>

            <ul>
              <li>
              <input type="checkbox" id="receive" name="Receice" value="yes">
              <label for="receive">I would like to recieve promotional emails</label>
              </li>
            </ul>


            <div class="formfooter">
              <button class="subscribe" type="submit">Subscribe</button>
            </div>
            

        </fieldset>
      </form>
    </section>





</body>
</html>